<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="green-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Players</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="grey-text">
      <ion-col size-md="4" size-xs="6">PLAYER</ion-col>
      <ion-col size-md size-xs="3">POINTS</ion-col>
    </ion-row>
    <ion-row *ngFor="let u of (users | async); let i = index">
      <ion-col size-md="4" size-xs="6">{{ u.displayName || u.username }}</ion-col>
      <ion-col size-md size-xs="3">{{ u.points }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
