<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="green-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Scores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let s of scores; let i = index">
    <ion-row class="center-box">
      <ion-col size="2">
        <ion-img [src]="s.awayTeamLogoUrl" class="logo-img"></ion-img>
      </ion-col>
      <ion-col size="4">
        {{s.awayTeam}}
      </ion-col>
      <ion-col size="2">
        {{ s.awayTeamGoalTimes.length }}
      </ion-col>
      <div *ngIf="s.awayTeam == s?.winner">
        <ion-icon name="caret-back-outline"></ion-icon>
      </div>
    </ion-row>
    <ion-row class="center-box">
      <ion-col size="2">
        <ion-img [src]="s.homeTeamLogoUrl" class="logo-img"></ion-img>
      </ion-col>
      <ion-col size="4">
        {{s.homeTeam}}
      </ion-col>
      <ion-col size="2">
        {{ s.homeTeamGoalTimes.length }}
      </ion-col>
      <div *ngIf="s.homeTeam == s?.winner">
        <ion-icon name="caret-back-outline"></ion-icon>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
