<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid style="height: 100%" *ngIf="isLoading">
  <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-spinner></ion-spinner>
  </ion-row>
</ion-grid>

<ion-content *ngIf="!isLoading" padding>
  <form #f="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          ngModel name="email"
          required
          [ngModel]="creds?.email"
          email
          #emailCtlr="ngModel"
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="!emailCtlr.valid && emailCtlr.touched" lines="none" class="no-line">
        <p>Should be a valid email address.</p>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          ngModel name="password"
          [ngModel]="creds?.password"
          required
          password
          minlength="6"
          #passwordCtlr="ngModel"
      ></ion-input>
      </ion-item>
      <ion-item *ngIf="!passwordCtlr.valid && passwordCtlr.touched" lines="none" class="no-line">
        <p>Should be at least 6 characters in length.</p>
      </ion-item>
    </ion-list>
    <!-- <ion-spinner *ngIf="isLoading" class="ion-text-center"></ion-spinner> -->
    <ion-button
      *ngIf="!isLoading"
      color="primary"
      type="submit"
      (click)="onLogin(f)"
      class="btn"
      expand="block"
      [disabled]="!f.valid"
    >Log in</ion-button>
    <p class="ion-text-center" *ngIf="failedLogin">Login failed. Please try again.</p>
    <ion-button
      color="primary"
      type="submit"
      fill="clear"
      class="btn"
      expand="block"
    ><a href="#"[routerLink]="['/', 'auth', 'signup']" style="text-decoration: none;">Switch to sign up</a></ion-button>
  </form>
</ion-content>
