.logo-img {
  height: 100px;
  padding: 10px 0;
}

.center-box {
  align-items: center;
}

.bordered {
  padding-bottom: 60px;
  border-bottom: 1px solid #555;
}

.grey-line {
  border-bottom: 1px solid #ccc;
}

.at-sign {
  height: 60px;
  margin: auto;
  width: 100%;
}

.option {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: #777;
  border: 1px solid #E0E0E0;
  background-color: #f4f4f4;
  margin: 0 20px;
}

// .active {
//   font-weight: bold;
//   font-size: 18px;
//   text-align: center;
//   padding: 10px;
//   color: greenyellow;
//   border: 1px solid greenyellow;
//   background-color: green;
//   margin: 0 20px;
// }

.active {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: rgb(57, 112, 79);
  // background-color: greenyellow;
  // border: 1px solid #999;
  background-color: rgb(127, 250, 176);
  margin: 0 20px;
}

.success-report {
  padding: 10px;
  font-weight: bold;
  border-radius: 10%;
  background-color: green;
  border: 2px solid greenyellow;
  color: #fff;
}

.centered {
  position: relative;
  width: 200px;
  height: auto;
  left: 0;
  right: 0;
  margin:0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  transform:translateY(-10%);
}

