<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="green-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  
  <app-user-profile [user]="user"></app-user-profile>

  <ng-container *ngIf="user?.roundsCompleted > 0 && user?.lastScore < 6" class="message">
    <p>Sorry, you didn't qualify for another round today.</p>
    <p>Try again tomorrow!</p>
  </ng-container>

  <!-- Bonus Question Section -->
  <ng-container *ngIf="user?.roundsCompleted === 5 && !bonusDeclined && user.bonusCompleted === false && user?.lastScore > 5">
    <app-bonus-section [user]=user (bonusValueChange)="declineBonusQuestion()"></app-bonus-section>
  </ng-container>

  <ng-container *ngIf="user?.roundsCompleted < 3 && !rookieStatusComplete">
    <ion-item-divider></ion-item-divider>
    <app-next-round [user]="user"></app-next-round>
  </ng-container>

  <!-- Topical Question Section -->
  <ng-container *ngIf="user.roundsCompleted === 3">
    <app-topical-trivia [user]="user"></app-topical-trivia>
  </ng-container>

  <ng-container *ngIf="rookieStatusComplete">
    <app-general-round [user]="user"></app-general-round>
  </ng-container>

</ion-content>
