ion-item-divider {
  background-color: transparent;
}

.wide-btn {
  padding: 10px;
}

.question {
  padding: 0 15px;
}

.timer {
  padding: 0 5px;
  border-radius: 5px;
  color: green;
}

.expired {
  padding: 0 5px;
  border-radius: 5px;
  color: red;
}
