.standings-header {
  margin-bottom: 4px;
  color: #555;
  text-align: center;
  background-color: #f4f4f4;
  padding: 4px 0;
}

ion-row {
  border-bottom: 1px solid #f1f1f1;
}

ion-button {
  margin-bottom: 6px;
}

.grey-text {
  color: #ccc;
}

.logo-img {
  height: 40px;
  width: 34px;
  // padding: 2px 0;
  padding: 2px;
}

.col-labels {
  padding-left: 38px;
}

.center-box {
  align-items: center;
}

.drk-grn-btn, .btn-native {
  background-color: #1d6b1d;
  color: #fff;
}
