<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="green-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Standings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button size="6" offset="2" *ngIf="!overall" (click)="showOverallStandings()" color="success">CLICK FOR OVERALL STANDINGS</ion-button>
<ion-button size="6" offset="2" *ngIf="overall" (click)="showConferenceStandings()" color="success">CLICK FOR CONFERENCE STANDINGS</ion-button>

<ion-content>
  <ion-grid *ngIf="!overall" class="ion-no-padding">
    <ion-header class="standings-header">WESTERN CONFERENCE</ion-header>
    <ion-row class="col-labels">
      <ion-col>TEAM</ion-col>
      <ion-col style="margin-left: 6px;">W</ion-col>
      <ion-col>L</ion-col>
      <ion-col>T</ion-col>
      <ion-col>GD</ion-col>
      <ion-col>PTS</ion-col>
    </ion-row>
    <ion-row *ngFor="let t of westernStandings; let i = index" class="center-box">
      <ion-img [src]="t.lgLogoUrl" class="logo-img"></ion-img>
      <ion-col style="margin-left: 8px;">{{ t.name.location | teamNameTrunc }}</ion-col>
      <ion-col style="margin-left: 6px;">{{ t.season.wins }}</ion-col>
      <ion-col>{{ t.season.losses }}</ion-col>
      <ion-col>{{ t.season.ties }}</ion-col>
      <ion-col>{{ t.season.goalDiff }}</ion-col>
      <ion-col>{{ t.season.points }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!overall" class="ion-no-padding">
    <ion-item-divider></ion-item-divider>
    <ion-header class="standings-header">EASTERN CONFERENCE</ion-header>
    <ion-row class="col-labels">
      <ion-col>TEAM</ion-col>
      <ion-col style="margin-left: 6px;">W</ion-col>
      <ion-col>L</ion-col>
      <ion-col>T</ion-col>
      <ion-col>GD</ion-col>
      <ion-col>PTS</ion-col>
    </ion-row>
    <ion-row *ngFor="let t of easternStandings; let i = index" class="center-box">
      <ion-img [src]="t.lgLogoUrl" class="logo-img"></ion-img>
      <ion-col style="margin-left: 8px;">{{ t.name.location | teamNameTrunc }}</ion-col>
      <ion-col style="margin-left: 6px;">{{ t.season.wins }}</ion-col>
      <ion-col>{{ t.season.losses }}</ion-col>
      <ion-col>{{ t.season.ties }}</ion-col>
      <ion-col>{{ t.season.goalDiff }}</ion-col>
      <ion-col>{{ t.season.points }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="overall" class="ion-no-padding">
    <ion-header class="standings-header">OVERALL STANDINGS</ion-header>
    <ion-row class="col-labels">
      <ion-col>TEAM</ion-col>
      <ion-col style="margin-left: 6px;">W</ion-col>
      <ion-col>L</ion-col>
      <ion-col>T</ion-col>
      <ion-col>GD</ion-col>
      <ion-col>PTS</ion-col>
    </ion-row>
    <ion-row *ngFor="let t of overallStandings; let i = index" class="center-box">
      <ion-img [src]="t.lgLogoUrl" class="logo-img" ></ion-img>
      <ion-col style="margin-left: 8px;">{{ t.name.location | teamNameTrunc }}</ion-col>
      <ion-col style="margin-left: 6px;">{{ t.season.wins }}</ion-col>
      <ion-col>{{ t.season.losses }}</ion-col>
      <ion-col>{{ t.season.ties }}</ion-col>
      <ion-col>{{ t.season.goalDiff }}</ion-col>
      <ion-col>{{ t.season.points }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
