.standings-header {
  margin-bottom: 4px;
  color: #f1f1f1;
  text-align: center;
  background-color: #444;
  padding: 4px 0;
}

ion-row {
  border-bottom: 1px solid #555;
}

.grey-text {
  color: #ccc;
}

.logo-img {
  height: 40px;
  width: 34px;
  padding: 2px 0;
}

.col-labels {
  padding-left: 38px;
}

.center-box {
  align-items: center;
}
